<link rel="stylesheet" href="http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/">
<link rel="stylesheet" href="http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/pictureevent.css">

<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div class="cover">
      <div class="cover-image" style="background-image: url(https://imghtlak.mmtcdn.com/blog/sites/default/files/events-feature-image.jpg);"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
		  <h1>Event {% if id %} {{ id }} {% endif %}</h1>
            <br>
            <br>
          </div>
        </div>
        <div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="well" style="text-center">
					<form method='post' enctype="multipart/form-data">{% csrf_token %}
						{{ form }}
						<input type="submit">
					</form>
					{% if filename %}
						{{ filename }} will be processed soon
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href='/archive/{{ id }}'><button style="width:100%; background-color:gray; border-color:gray" class="btn btn-lg btn-primary" type="button">Download the Zip file of the event</button></a>
				<a href='http://pictureeventarchivejn.s3-website-us-west-2.amazonaws.com/archives/{{ id }}/archive.zip'><button style="width:100%; background-color:gray; border-color:gray" class="btn btn-lg btn-primary" type="button">Download via CDN</button></a>
			</div>
		</div>
      </div>
    </div>
  </body>
  <script>
	document.getElementById("id_file").setAttribute("accept", ".zip,image/*");
</script>

</html>