<link rel="stylesheet" href="http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/">
<link rel="stylesheet" href="http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/pictureevent.css">

<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div class="cover">
      <div class="cover-image" style="background-image: url(http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/eventimg.jpg);"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
		  <h1>Event {% if id %} {{ id }} {% endif %}</h1>
            <br>
            <br>
          </div>
        </div>
        <div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="well" style="text-center">
					<form method='post' enctype="multipart/form-data">{% csrf_token %}
						{{ form }}
						<input type="submit">
					</form>
					{% if filename %}
					<div class="alert alert-success" role="alert">
						{{ filename }} will be processed soon, it's safe to close the page.
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-4"></div>
			<div class="col-md-4">
				{% for arch in archives %}
					<a href='http://pictureeventarchivejn.s3-website-us-west-2.amazonaws.com/{{ arch }}'><button style="width:100%; background-color:gray; border-color:gray" class="btn btn-lg btn-primary" type="button">Download Zip {{ forloop.counter }}</button></a>
					<br/><br/>
				{% endfor %}
			</div>
		</div>
      </div>
    </div>
  </body>
  <script>
	document.getElementById("id_file").setAttribute("accept", ".zip,image/*");
</script>

</html>