<link rel="stylesheet" href="http://{{static}}.s3-website-{{region}}.amazonaws.com/bootstrap.css">
<link rel="stylesheet" href="http://{{static}}.s3-website-{{region}}.amazonaws.com/pictureevent.css">

<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div class="cover">
      <div class="cover-image" style="background-image: url(http://{{static}}.s3-website-{{region}}.amazonaws.com/eventimg.jpg);"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
		  <h1>Event {% if id %} {{ id }} {% endif %}</h1>
            <br>
            <br>
          </div>
        </div>
        <div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="well" style="text-center">
					<form method='post' enctype="multipart/form-data">{% csrf_token %}
						{{ form }}
						Accepted files are zip, rgb, gif, pbm, pgm, ppm, tiff, xbm, jpeg, bmp and png<br>
						<input type="submit"><br>
						Your images will be resized to fit into the dimensions 2000x2000. 
					</form>
					{% if filenames %}
					<div class="alert alert-success" role="alert">
						Your upload will be processed soon will be processed soon, it's safe to close the page.<br>
						<div style="max-height:calc(30%);border:1px solid #ccc;overflow:auto;">
						{% for filename in filenames %}
							<span>{{ filename }}</span><br>
						{% endfor %}
						</div>
					</div>
					{% endif %}

					{% if errors %}
					<div class="alert alert-danger" role="alert">
						Files ignored :<br>
						<div style="max-height:calc(30%);border:1px solid #ccc;overflow:auto;">
						{% for error in errors %}
							<span>{{ error }}</span><br>
						{% endfor %}
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-4"></div>
			<div class="col-md-4">
				{% for arch in archives %}
					<a href='http://{{bucket_archives}}.s3-website-{{region}}.amazonaws.com/{{ arch }}'><button style="width:100%; background-color:gray; border-color:gray" class="btn btn-lg btn-primary" type="button">Download Zip {{ forloop.counter }}</button></a>
					<br/><br/>
				{% endfor %}
			</div>
		</div>
      </div>
    </div>
  </body>
  <script>
	document.getElementById("id_file").setAttribute("accept", ".zip,image/*");
</script>

</html>