<link rel="stylesheet" href="http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/">
<link rel="stylesheet" href="http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/pictureevent.css">

<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div class="cover">
      <div class="cover-image" style="background-image: url(http://pictureeventstatic.s3-website-us-west-2.amazonaws.com/indeximg.jpg);"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
			<br>
			<br>
			<form method='post' enctype="multipart/form-data">{% csrf_token %}
				<input class="btn btn-lg btn-primary" type="submit" style="background-color:gray; border-color:gray" value="Create an event">
			</form>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="text-inverse">Pictures of events</h1>
            <p class="text-inverse">Web application which makes easier the sharing of pictures of events among a group of friends or at a business event.</p>  
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
